.centerBox {
	text-align: center;
	vertical-align: center;
}

img {
	display: block;
	width: 100%;
	min-height: 300px;
}
#inputField {
	width: 100%;
	font-size: 200%;
	margin-top: 300px;
}


.wrapper {
	margin: auto;
	max-width: 900px;
}

.boxes-wrapper {
	text-align: center;

}

.box {
	display: inline-block;
	width: 33%;
}

body {
	background-image: url ("/res/2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% ;
}