@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans/OpenSans-Regular.ttf');
}
@font-face {
	font-family: 'Open Sans Light';
	src: url('OpenSans/OpenSans-Light.ttf');
}
* {
	font-family: 'Open Sans Light', 'Open Sans', Helvetica, sans-serif;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover, a:visited {
	text-decoration:none !important;
}
.centerBox {
	text-align: center;
	vertical-align: center;
	margin-top: -30px;
}

img {
	display: block;
	width: 100%;
	min-height: 300px;
}
h1.title {
	font-size: 48px;
	line-height: 50px;
}
#inputField {
	width: 100%;
	/*font-size: 200%;*/
	font-size: 32px;
	line-height:50px;
	background-color: rgba(0, 0, 0, 0.5);
	/*margin-top: 300px;*/
}
.title-wrapper {
	text-align: center;
	color: white;
	margin: 20% auto 10% auto;
}
#inputField {
	/*background-color: rgba(255, 255, 255,0.5 );*/
	color: white;
	border: 2px solid white;

}
.sidebar {
	/*float: right;*/
	text-align: left;
	z-index: 50;
	height: 100%;
	position: fixed;
	left:-260px;
	top: 0;

	color: white;
}

.wrapper {
	margin: auto;
	max-width: 900px;
}

.boxes-wrapper {
	text-align: center;

}
#inputField:focus {
    outline: 0;
}

.box {
	display: inline-block;
	width: 33%;
}

body {
	background: url("res/3.jpg") no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-repeat: no-repeat;
	background-position:  center;
	height: 100vh;
	overflow-x: hidden;
}

.btn {
	margin-top: -5px;
}

.help {
	border: 1px solid black;
	background-color: white;
	opacity: 0.5;
	width: 100%;
	text-align: center;
}

.helpText {
	font-size: 18px;
	text-align: center;
}

.sidebar-icon {
	vertical-align: top;
	margin: 20px 20px 20px 20px;
	color: white;
}
#errorMesssage {
	font-size: 18px;
}
.sidebar-content {
	/*background-color: #e6e6e6;*/
	border-right: 4px solid;
	padding: 20px 20px 20px 20px;
	height: 100%;
		background-color: rgba(0, 0, 0,0.5);

	width: 280px;
	/*background-color: white;*/
}
.sidebar-title {
	text-align: center;
	border-bottom: 2px solid;
	margin-bottom: 14px;
	padding-bottom: 5px;
}
.sidebar-elem {
	width: 100%;
}
#sidebar-list li {
	height: 35px;
}
.sidebar-elem p {
	font-size: 22px;
	line-height: 30px;
	display: inline-block;
}
.sidebar-content, .sidebar-icon {
	display: inline-block;
}
